body {
    width: 210px;
    height: 70px;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: #b0bab1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hidden-config {
    visibility: hidden;
    max-height: 0;
    transition: all 0.3s ease;
    overflow: hidden;
}

.show-config {
    visibility: visible;
    max-height: 1000px;
    transition: all 0.5s ease;

}

.config-label {
    margin-bottom: 5px;
}

.scan-button {
    width: 100%;
    height: 40px;
    background-color: #477c49;
    color: white;
    font-size: 16px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.2s ease;
    margin-bottom: 10px;
}

.config-button {
    width: 100%;
    height: 30px;
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 16px;
    border: none;
    font-weight: light;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.2s ease;
    margin-bottom: 10px;
}

.scan-button:hover {
    background-color: #336135;
}

#TabInfo {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}









:root {
    --black: #000000;
    --cornflower-lilac: white;
    --salmon: #336135;
    --white: #ffffff;
    --your-pink: #336135;
}

.c-checkbox {
    display: none;
}

.c-checkbox:checked + .c-formContainer .c-form {
    width: 100%;
}

.c-checkbox:checked + .c-formContainer .c-form__toggle {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
}

.c-checkbox:checked + .c-formContainer .c-form__input,
.c-checkbox:checked + .c-formContainer .c-form__buttonLabel {
    transition: 0.2s 0.1s;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}


.c-formContainer {
    width: 100%;
    height: 2em;
    margin-bottom: 10px;
}
.c-form{
    width: 60%;
    height: 2em;
}
.c-form__toggle{
    width: 100%;
    height: 2em;
}
.c-formContainer {
    position: relative;
}

.c-form,
.c-form__toggle {
    position: absolute;
    border-radius: 5px;
    background-color: var(--white);
    transition: 0.2s;
}

.c-form {
    left: 50%;
    transform: translateX(-50%);
    padding: 0.1em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

.c-form__toggle {
    color: var(--salmon);
    top: 0;
    cursor: pointer;
    z-index: 1;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.c-form__toggle::before {
    font-size: 1em;
    content: attr(data-title);
}

.c-form__input,
.c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
    font-size: 1em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}

.c-form__input {
    color: var(--your-pink);
    height: 100%;
    width: 100%;
    padding: 0 0.714em;
}

.c-form__input::placeholder {
    color: currentColor;
}

.c-form__input:required:valid {
    color: var(--salmon);
}

.c-form__input:required:valid + .c-form__buttonLabel {
    color: var(--white);
}

.c-form__input:required:valid + .c-form__buttonLabel::before {
    pointer-events: initial;
}

.c-form__buttonLabel {
    color: var(--cornflower-lilac);
    height: 100%;
    width: auto;
    margin-right: 1px;
}

.c-form__buttonLabel::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
}

.c-form__button {
    color: inherit;
    padding: 1px 10px;
    margin-right: 5px;
    height: 100%;
    width: 100%;
    background-color: var(--salmon);
}